<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>update-rpm</title>

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="font/bootstrap-icons.css">
        <link rel="stylesheet" href="style.css">
        <link href="sidebars.css" rel="stylesheet">
        <link rel="icon" href="images/TL_LOGO.jpg">
    </head>

    <body>
        {% block content %}
        {% endblock %}

        {% block script %}
            <script src = "jquery.min.js"></script>
            <script src = "js/bootstrap.min.js"></script>
        {% endblock %}
    </body>

</html>