<!-- Crédits-->
<footer class="pt-4 my-md-0 pt-md-2 border-top">
    <div class="d-flex justify-content-center">
        <div class="row">
            <div class="col-3 col-md">
                <ul class="list-unstyled text-small">
                    <li class="mb-1"><a>
                        <img src="images/dev_anto.JPG" alt="Bootstrap" class="img-rounded" width="150px" height="30px">
                    </a></li>
                    <li class="mb-1"><a>Agent 9540</a></li>
                </ul>
            </div>
        <div class="col-3 col-md">
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a>
                    <img src="images/SE.JPG" alt="Bootstrap" class="img-rounded" width="30px" height="30px">
                </a></li>
            <li class="mb-1"><a>MRSI-Systèmes embarqués</a></li>
            <li class="mb-1"><a>T.L</a></li>
            </ul>
        </div>
        <div class="col-3 col-md">
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a>
                    <img src="images/TL_LOGO.jpg" alt="Bootstrap" class="img-rounded" width="30px" height="30px">
                </a></li>
            <li class="mb-1"><a>Transports Publics Lausannois</a></li>
            <li class="mb-1"><a>Chemin du Closel 15</a></li>
            <li class="mb-1"><a>1020 Renens</a></li>
            </ul>
        </div>
        <div class="col-3 col-md">
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a>
                    <img src="images/eia.JPG" alt="Bootstrap" class="img-rounded" width="150px" height="30px">
                </a></li>
            <li class="mb-1"><a>Ecole d'ingénierie appliquée sa</a></li>
            <li class="mb-1"><a>Chemin de Montmeillan 19</a></li>
            <li class="mb-1"><a>1005 Lausanne</a></li>
            </ul>
        </div>
        </div>
    </div>
</footer>
