    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link {% if page == 'home' %}active{% endif %}" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page == 'photo' %}active{% endif %}" href="/photo">photo</a>
          </li>
        </ul>
      </div>
    </nav>